@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
html {
  font-family: var(--font-inter);
  rotate: 180deg;
}

pre {
  font-family: var(--font-jetbrains-mono);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e7eb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}

/* DARK MODE */
html[style="color-scheme: dark;"] > ::-webkit-scrollbar-track {
  background: #374151;
}
html[style="color-scheme: dark;"] > ::-webkit-scrollbar-thumb {
  background: #fb7185;
}
html[style="color-scheme: dark;"] > ::-webkit-scrollbar-thumb:hover {
  background: #f43f5e;
}

/* Postcard Image Clipping */
.postcard-img {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
}
